body {
    background-color:black;
    font-family: cursive;
    font-weight: bold;
    width: 100%;
    height:100%;
    margin: 0;
}

h1 {
    color:gold;
    font-size: 3vi;
    font-family: Impact;
    text-align:center;
    margin-top:2vw;
    margin-bottom:0vw;
}

p {
    color: gold;
    font-size:0.9vi;
    text-align:center;
    margin: 2vw;
    margin-bottom: 1vw;

}

.gameContainer {
    margin-top:2vw;
    margin-bottom: 0vw;
}

.gameBoard {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: black;
}

td {
    background-color: lightgrey;
    width:9vw;
    height:9vw;
    border:solid;
    border-color: grey;
    border-width:0.4vw;
    text-align: center;
    font-size: 5vi;
}

.restartGame {
    background-color:lightgrey;
    color:black;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    font-size: 0.8vi;
    display:block;
    margin-top: 1vw;
    margin-left: auto;
    margin-right: auto;
    width:10vw;
    height:3vw;
}