body {
    background-color:black;
}

h1 {
    color:gold;
    font-size: 5rem;
    text-align:center;
    margin-top:10vw;
}

p {
    color: gold;
    font-size:2rem;
    text-align:center;
}

.gameContainer {
    margin:3vw;
}

.gameBoard {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: black;
}

td {
    background-color: lightgrey;
    width:10vw;
    height:10vw;
    border:solid grey;
    border-width:0.4vw;
    text-align: center;
    font-size: 15rem;
}

.restartGame {
    background-color:lightgrey;
    color:black;
    text-align: center;
    font-size: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:10vw;
    height:3vw;
}